PORT=YOUR_PORT
MONGODB_URL=mongodb+srv://<YOUR_USERNAME>:<YOUR_PASSWORD>@cluster0.ms7mvvs.mongodb.net
CORS_ORIGIN=*
JWT_ACCESS_SECRET=dhairyajain
JWT_ACCESS_EXPIRY=1d
JWT_REFRESH_SECRET=dhairyajain
JWT_REFRESH_EXPIRY=10d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLODINARY_API_SECRET=